.footer {
    width: 100%;
    background-color: black;
    line-height: 45px;
    a{
        text-decoration: none !important;
        color:#fff !important;
    }
    a:hover{
        text-decoration: underline !important;
    }
    .brands{
        a{
            font-size: 30px;
        }
    }
}
